/* pages/select/select.wxss */
page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.avatar {
  display: block;
  width: 128px;
  height: 128px;
}
// .select {
//   /* 单选框的样式 */
// }

